Redirect 301 /index.php http://www.charliesvision.com/index.html
Redirect 301 /charlie.php http://www.charliesvision.com/charlie.html
Redirect 301 /contact.php http://www.charliesvision.com/contact.html
Redirect 301 /crew.php http://www.charliesvision.com/crew.html
Redirect 301 /donate.php http://www.charliesvision.com/donate.html
Redirect 301 /film.php http://www.charliesvision.com/film.html
Redirect 301 /support.php http://www.charliesvision.com/support.html
Redirect 301 /trip.php http://www.charliesvision.com/trip.html
Redirect 301 /wv.php http://www.charliesvision.com/wv.html