/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@font-face {
    font-family: 'KnewaveRegular';
    src: url('../webfonts/knewave-webfont.eot');
    src: url('../webfonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/knewave-webfont.woff') format('woff'),
         url('../webfonts/knewave-webfont.ttf') format('truetype'),
         url('../webfonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chunk';
    src: url('../webfonts/Chunkfive-webfont.eot');
    src: url('../webfonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Chunkfive-webfont.woff') format('woff'),
         url('../webfonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../webfonts/Chunkfive-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junction';
    src: url('../webfonts/Junction-webfont.eot');
    src: url('../webfonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Junction-webfont.woff') format('woff'),
         url('../webfonts/Junction-webfont.ttf') format('truetype'),
         url('../webfonts/Junction-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League';
    src: url('../webfonts/League_Gothic-webfont.eot');
    src: url('../webfonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/League_Gothic-webfont.woff') format('woff'),
         url('../webfonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../webfonts/League_Gothic-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a,a:visited{ text-decoration: none; color: white; }
a:hover{ text-decoration: underline; color: #06E; }
body:before {
          content: "";
          position: fixed;
          top: -20px;
          left: 0;
          width: 100%;
          height: 20px;

          -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
          -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
          box-shadow: 0px 0px 20px rgba(0,0,0,.8);

          z-index: 100;
}

html,body{
	font-family: Helvetica, Tahoma, Geneva, sans-serif;
	color: white;
}

h1 { 
	font-weight: normal; 
	font-size: 2.2em;
	color: #83C441;
	font-family: KnewaveRegular, 'Lucida sans', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, Tahoma, Geneva, sans-serif;
}
h3,ul#menu { font-family: Chunk, Georgia, Helvetica, serif; font-size: 1.2em; font-weight: normal; text-transform: uppercase; }
h4{ font-family: League, Chunk, Helvetica, Tahoma, Geneva, sans-serif; font-size: 1.5em; font-weight: normal; text-transform: uppercase; }
h4.large{ font-size: 4em; }
#container{
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
}

.sep{ display: block; width:100%; border-bottom: 1px solid white; margin: 40px 0; }

#header .title { float:left; }
#header .title h1 { padding: 10px 20px 10px 20px; background:url('../img/bg-black.png'); }
#header .title h1 a{ color: #83C441; }
#header .title h3 { padding: 10px 20px 10px 20px; background:url('../img/bg-black.png'); }
#header #event{ margin-top:10px; padding: 10px 20px 0 20px; background:url('../img/bg-black.png'); }
#header a:hover { text-decoration: underline; }
ul#menu { margin-bottom: 0; margin-top: 0; list-style: none; background:url('../img/bg-black.png'); padding: 0; float: right; width: 100%; }
ul#menu li{ padding:10px; float:left; color:#aaa; }
#wrapper { background:url('../img/bg-black.png'); padding: 20px; }
.featured { border: 5px solid white; width: 480px; margin-bottom: 20px; }
.description { width: 380px; font-weight: normal; }
.contact-desc{ width: 250px; text-align: left; border-right: 1px solid white; }
.contact-img{ border: 5px solid white; margin-right: 40px; }
a:hover{ text-decoration: underline  color: #06F }
.member h3{ font-size: 2em; }
.member a:hover{ text-decoration: underline; }
.thumb{ width: 225px; border: 5px solid white; margin: 0 20px 20px 20px; }
.thumb img{ width: 225px; }

.charlie h4{ font-size: 2em; }
.charlie h4.big{ font-size: 3.5em; margin-bottom: 20px; }
.charlie h4 a:hover{ text-decoration: underline; }
.vid{ border: 5px solid white; margin: 10px 0 10px 20px; float: right; }
.vid-details{ background-color: white; font-family: Junction, 'Lucida sans', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, Tahoma, Geneva, sans-serif; text-align: right; color: black; padding-top: 8px; }

#wrapper.trip .featured{ width: 430px; }
.trip img{ width: 430px; }
.trip .description{ width: 460px; }
.trip ul{ margin: 0 0 20px 0; padding: 0; list-style: none; font-size: .9em; }
.trip li{ border-bottom: 1px solid #EEE; padding: 5px 20px 5px 0; }
.trip li.last{ border: none; }

.film .featured,.film .featured img{ width: 450px; }

.marquee{ width: 920px; margin: 0 auto; }
.fb-like{ margin-top: 6px; }

#donate-form{ width: 150px; margin: 0 auto; }
#donate-img{ width: 450px; margin: 0 auto; }
#pledge{ width: 750px; margin: 0 auto; }
#pledge .input {
    display: inline-block;
    position: relative;
    top: -3em;
}
#pledge .select {
    display: inline-block;
    position: relative;
    top: -3em;
}
#pledge .submit {
    display: inline-block;
    position: relative;
    top: -1em;
    left: 1em;
}
#pledge .tiny{ 
	text-transform: uppercase;
	display: inline-block;
    width: 6em;
    margin-right: 40px;
    padding-top: 1.5em;
}
#pledge .nom{ margin-right: 0; }


#footer { margin:15px 0 15px 0; background:url('../img/bg-black.png'); }
#footer p{ margin-top:5px; padding:10px; color:white; font:11px Helvetica, Arial, sans-serif; }
#footer a{ font-weight: bold; color: #06e; }
#footer a:hover{ text-decoration: underline; }

.donate{ margin: 8px 5px 4px 0; }

#galleria{ height:320px; }

a:hover.agreen{ color: #83C441; }
a:hover.aorange{ color: #FF5B00; }
a:hover.ateal{ color:#00CABD; }
a:hover.alblue{ color: #4eb4ff; }
a:hover.ablue{ color: #439AAB; }
a:hover.apink{ color: #F50C81; }
a:hover.aforest{ color: #00A900; }
a:hover.ayellow{ color: #B2FF00; }
.green{ color: #83C441; }
.orange{ color: #FF5B00; }
.teal{ color:#00CABD; }
.blue{ color: #439AAB; }
.pink{ color: #F50C81; }
.forest{ color: #00A900; }
.yellow{ color: #B2FF00; }
.bgwhite{ background-color: white; }

.tiny{ font:11px Helvetica, Arial, sans-serif; font-weight: normal; }
.bold{ font-weight: bold; }
.none{ display: none; }


.top10{ margin-top: 10px; }
.left20{ padding-left: 20px; }
.right20 { margin-right: 20px; }
.left30{ margin-left: 30px; }
.right30 { margin-right: 30px; }
.float-left{ float: left; }
.float-right{ float: right; }
.clear{ clear: both; height: 0; }
.center{ text-align: center; }
.right{ text-align: right; }

.strikethrough{ text-decoration: line-through; }


@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
